<ul class="list-inline">
  <li><a href="/blog"><span class="fa-list-inline"><i class="fas fa-book-reader"></i></span>Blog</a></li>
  <li><a href="/portfolio"><span class="fa-list-inline"><i class="fas fa-tasks"></i></span>Portfolio</a></li>
  <li><a href="/privacy-policies"><span class="fa-list-inline"><i class="fas fa-user-lock"></i></span>Privacy policies</a></li>
  <li><a href="https://github.com/ouattararomuald"><span class="fa-list-inline"><i class="fa-list-inline fab fa-github"></i></span>Github</a></li>
  <li><a href="https://twitter.com/ouattararomuald"><span class="fa-list-inline"><i class="fa-list-inline fab fa-twitter"></i></span>@ouattararomuald</a></li>
</ul>