<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Romuald Ouattara</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous">
    </script>

    {% seo %}
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:description" content="{{ page.description }}">
    <meta name="og:site_name" content="Romuald Ouattara">
    <meta name="og:url" content="{{ site.url }}">
    {% if page.image %}
    <meta name="og:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="og:image" content="{{ site.url }}/static/default_image.jpeg">
    {% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ouattararomuald">
    <meta name="twitter:domain" content="ouattararomuald.com">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    {% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}/static/default_image.jpeg">
    {% endif %}
    <meta name="twitter:url" content="{{ site.url }}">
    <meta name="twitter:label1" content="Posts">
    <meta name="twitter:data1" content="{{ site.posts | size }}">
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        {% include navigation.html %}
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

  </body>
</html>
